*,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }

.column1 {
    float: left;
    width: 33.33%;
    padding: 10px;
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: ;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #4414c99d;
    
  }

  .column{
  width: 100%;
  }


  .column2 {
    float: left;
    width: 33.33%;
    padding: 10px;
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: ;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #4414c99d;

  }

  .column3 {
    float: left;
    width: 33.33%;
    padding: 10px;
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: ;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #4414c99d;

  }

.row::after {
    content: "";
    display: table;
    clear: both;
      }


body{
    font-family: Arial;
    padding: 10px;
    margin: 0;
      background-image: url("00.jpg");
      background-size: cover;
      background-position: center;
background-repeat: no-repeat;   
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}

  

.container-navbar {


        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border:1px solid rgba(20, 20, 20, 0.356);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    width: 100%;
    height: 10vh;
    height: fit-content;
    font-family: Lato, "Trebuchet MS", "Verdana", "sans-serif";
}

.ul-navbar {  
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    color:black;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
}

.li-navbar:hover {
    background-color: #00ff99;
    transition: .5s ease-in-out;
    transition-delay: .0s;
    border-radius: 10px;
}


.a-navbar {
    color: white;
    text-decoration: none;
}


.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.a-content {
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.img-content {
    width: 30%;
    height: 30%;
} 

.jpg-content {
    width: 100%;
    height: 200px;
    align-items: center;
}

.container-footer {
    font-size: smaller;
    height: 20vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-family: "Trebuchet MS";
}

.h1-footer {
    font-size: 40px;
    font-family:    Lato, "Trebuchet MS", "Verdana", "sans-serif";
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}
.h2-footer{
    font-size: 20px;
    font-family: "Trebuchet MS";
    font-family: ;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}
.h3-footer{
    font-size: 20px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }

.column {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
  }

  ul.a {
    list-style-type: circle;
  }